<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the JLPTrainer backend</h1>
    <h2>To find the kanji characters for each JLPT level, follow these links.</h2>
    <ul>
      <li>To see all JLPT kanji characters for a specific JLPT level (fill in the last number with a value between 1-5):</li>
      <p><a href="http://localhost:5000/api/index?level=jlpt-5" target="_blank">http://localhost:5000/api/index?level=jlpt-5</a></p>
      <li>To see all JLPT kanji characters:</li>
      <p><a href="http://localhost:5000/api/all-kanji" target="_blank">http://localhost:5000/api/all-kanji</a></p>
      <li>To see details about a specific kanji (fill in the last character with your chosen kanji):</li>
      <a href="http://localhost:5000/api/show?kanji=七" target="_blank">http://localhost:5000/api/show?kanji=七</a>
    </ul>
  </body>
</html>
